*{
box-sizing:border-box;
}
section{
position:relative;
background-color: grey;
font-family:sans-serif;
}
p
{
margin-top: 10%;
padding:5px;
}
.top-right{
position:absolute;
margin:0;
top:0;
right:0;
padding:6px;
}

#section1 h3{
background-color:yellow;
border: 1px solid black;
}
#section2 h3{
background-color:darkred;
border: 1px solid black;
color: white;
}

#section3 h3 {
background-color:pink;
border: 1px solid black;
}
@media(min-width:992px){
.col-lg-4{
margin: 10px;
padding: 5px;
border:1px solid black;
}
.col-lg-4{
    float:left;
    width: 31%;
}
}
@media(min-width:768px) and (max-width:991px){
.col-md-6, .col-md-12{
float:left;
margin: 10px;
padding: 5px;
border:1px solid black;
}
.col-md-6{
    width:47%;
}
.col-md-12{
width:96%;
}
}

@media(max-width:767px){
.col-sm-12{
float:left;
margin: 10px;
padding: 5px;
border:1px solid black;
width:100%;
}
}

h1 {
text-align:center;
}
